# Auto detect text files and perform LF normalization
* text=auto

*.dic		diff text
*.java		diff text ident
*.kt		diff text ident
*.xml		diff text ident
*.gradle	diff text ident
*.properties	diff text ident
.project	diff text ident
.classpath	diff text ident
